<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Image Creation and Attribution</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header class="site-header">
        <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
          <a class="navbar-brand" href="https://virtualflybrain.org"><span class="navbar-brand__logo navbar-logo"></span><span class="navbar-brand__name">Virtual Fly Brain</span></a>
          <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="https://v2.virtualflybrain.org/org.geppetto.frontend/geppetto" target="_blank"><span>Launch VFB</span><i class="fas fa-desktop ml-2"></i></a>
              </li>
              <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="https://virtualflybrain.org/blog/1/01/01/janelia-flylight/"><span>FlyLight Project</span></a>
              </li>
              <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="/"><span>Explore Larval Images</span></a>
              </li>
              <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link active" href="https://virtualflybrain.org/"><span class="active">VFB Docs</span></a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
    
    <main>
        <section class="content-section">
            <h1>About Image Creation and Attribution</h1>
            <p>This page provides information about the creation of images used on this website and their attributions.</p>
            
            <h2>Image Creation</h2>
            <p>The data presented on this site are the work of the <a href="http://janelia.org/team-project/fly-light">Janelia FlyLight Project Team</a>, the <a href="https://www.janelia.org/project-team/fly-descending-interneuron">Descending Interneuron Project Team</a>, and the laboratories of <a href="http://www.janelia.org/lab/rubin-lab">Gerald M. Rubin</a>, <a href="http://www.janelia.org/lab/aso-lab">Yoshi Aso</a>, <a href="http://www.janelia.org/lab/branson-lab">Kristin Branson</a>, <a href="http://www.janelia.org/lab/card-lab">Gwyneth Card</a>, and <a href="http://www.janelia.org/lab/dickson-lab">Barry Dickson</a>.</p>

            <p>The larval split-GAL4 line release was annotated and provided via the <a href="https://www2.mrc-lmb.cam.ac.uk/group-leaders/t-to-z/marta-zlatic/">Zlatic lab</a> which includes split-GAL4 lines and Generation 1 LexA lines selected for specific expression in the third-instar larval CNS (<a href="https://doi.org/10.1101/2024.01.09.574419">see Figure 1 Supplemental file 1</a>).</p>
            
            <h2>Attributions</h2>
            <p>You may use images from this website under a CC BY 4.0 license. Please acknowledge the FlyLight Project Team at Janelia Research Campus for the use of the images. Please also cite the paper below.</p>
            
            <p>In publications, please attribute the data presented on this site to the following paper (Split-GAL4 Omnibus Broad):<br>
            <em>Meissner, G. W., et al. "A split-GAL4 driver line resource for Drosophila CNS cell types." bioRxiv (2024).</em> DOI: <a href="https://doi.org/10.1101/2024.01.09.574419">10.1101/2024.01.09.574419</a></p>
        </section>
    </main>
    
</body>
</html>
