.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the space between thumbnails */
  justify-content: center;
  background: black;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-width: thin;
  border-colour: white;
}

.thumbnail img {
  max-height: 200px; /* Limit image height */
  width: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.thumbnail img:hover {
  transform: scale(1.5); /* Scale up the image size on hover */
  z-index: 10; /* Ensure the image is above other elements */
}

.thumbnail a {
  text-decoration: none;
  color: rgb(51, 153, 255);
  margin-top: 5px;
}

.site-header {
    background-color: rgb(51, 153, 255);
    padding: 1rem 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background: rgb(51, 153, 255);
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand-name {
    margin-left: 0.5rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

