.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the space between thumbnails */
  justify-content: center;
  background: black;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-width: thin;
  border-colour: white;
}

.thumbnail img {
  max-height: 200px; /* Limit image height */
  width: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.thumbnail img:hover {
  transform: scale(1.5); /* Scale up the image size on hover */
  z-index: 10; /* Ensure the image is above other elements */
}

.thumbnail a {
  text-decoration: none;
  color: #007bff; /* Bootstrap primary blue, as an example */
  margin-top: 5px;
}
